@use "../../styles/variables" as *;

.card-preview {
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  border-radius: $radius-md;
  box-shadow: $shadow-light;
  transition: $transition-fast;
  overflow: hidden;
  height: 100%;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  width: 100%;

  &:hover {
    transform: translateY(-$spacing-sm);

    box-shadow: $shadow-strong;
  }

  &__image-wrapper {
    width: 100%;
    height: 160px;
    background-color: $border-color-soft;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition-smooth;
  }

  &:hover &__image {
    transform: scale(1.05);
  }

  &__content {
    padding: $spacing-xl;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    font-family: $font-heading;
    font-size: 1.1rem;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: $spacing-l;
  }

  &__description {
    font-size: 0.9rem;
    overflow: hidden;
  }
}
