@use "variables" as *;

body {
  font-family: $font-body;
  color: $color-text-main;
  background-color: $color-background;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  font-weight: 700;
  color: $color-primary;
}
