// --- COLORS ---
$color-primary: #101a2e;
$color-secondary: #8c0202;
$color-background: #f2f4f8;
$color-overlay: rgba(29, 44, 78, 0.9);
$color-white: #ffffff;
$color-white-badge: rgba($color-white, 0.3);
$color-disabled: #8d99ae;
$color-text-main: #101a2e;
$color-text-light: #9ba8ba;

$svg-white: brightness(0) invert(1);

// --- FONTS ---
$font-heading: "Work Sans", sans-serif;
$font-body: "Open Sans", sans-serif;

// --- SPACING ---
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 6px;
$spacing-l: 8px;
$spacing-xl: 12px;
$spacing-2xl: 16px;
$spacing-3xl: 24px;
$spacing-4xl: 32px;
$spacing-5xl: 40px;
$spacing-6xl: 60px;
$spacing-7xl: 80px;

// --- LAYOUT ---
$container-max-width: 1088px;
$card-width: 260px;

// --- BORDERS & RADIUS ---
$radius-sm: 12px;
$radius-md: 8px;
$radius-lg: 16px;
$radius-xl: 20px;
$radius-infinte: 1000px;

// Colori per bordi
$bg-color-soft: rgba($color-primary, 0.05);
$border-color-soft: rgba($color-primary, 0.05);

// Stili bordi predefiniti
$border-superLight: 1px solid $border-color-soft;
$border-light: 1px solid rgba($color-white, 0.4);
$border-medium: 2px solid transparent;
$border-white: 2px solid $color-white;

// --- SHADOWS ---
$shadow-light: 0 2px 8px rgba($color-primary, 0.08);
$shadow-medium: 0 4px 12px rgba($color-primary, 0.12);
$shadow-strong: 0 8px 24px rgba($color-primary, 0.16);
$shadow-soft: -2px 4px 6px $border-color-soft;

// --- TRANSITIONS ---
$transition-fast: all 0.2s ease;
$transition-smooth: all 0.3s ease;
$transition-transform: transform 0.2s ease;
