@use "../../styles/variables" as *;

.card-footer {
  display: flex;
  // background-color: cadetblue;
  //   width: 340px;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 50%;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radius-lg;
  }

  &__icon {
    padding: 4px 12px;
    background-color: $color-primary;
    border: $border-white;
    border-radius: $radius-lg;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      filter: brightness(0) invert(1);
    }
    &:first-child {
      margin-right: -10px;
      z-index: 2;
    }
  }
}
