@use "../../styles/variables" as *;

.card-stat {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding: 8px 16px;

  &--default {
    background-color: transparent;
    // padding: 8px 16px;
  }

  &--warning {
    background-color: $color-secondary;
    color: white;
    img {
      filter: $svg-white;
    }
  }
  span span {
    padding-left: 4px;
    font-weight: 900;
  }
  &--dead {
    background-color: $color-disabled;
    padding: 8px 16px;
    color: white;
    img {
      filter: $svg-white;
    }
  }

  &__img {
    width: 24px;
  }
}
