@use "../../styles/variables" as *;

.battle-button {
  //   width: 100%;
  background-color: $color-primary;
  max-width: 340px;
  color: white;
  padding: 12px 28px;
  border-radius: 1000px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: $font-heading;
  transition: all 0.3s ease;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    background-color: lighten($color-primary, 10%);
    transform: translateY(-1.5px);
  }

  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.5;
  }
}
