@use "../../styles/variables" as *;

.battle-button {
  border: none;
  border-radius: 1000px;
  padding: 8px;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: $color-primary;
  color: white;

  &:hover:not(:disabled) {
    transition: all ease-out 0.3s;
    background-color: lighten($color-primary, $amount: 20);
    cursor: pointer;
    transform: translateY(-1px);
  }

  &:disabled {
    background-color: $color-disabled;
  }
}
