@use "../../styles/variables" as *;

.card-image {
  background-color: $border-color-soft;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: $transition-smooth;
    z-index: 1;

    &--defeated {
      filter: grayscale(90%) opacity(0.4) contrast(1.2);
    }
  }

  &__skull-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(20, 30, 50, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      z-index: 11;
      backdrop-filter: blur(2px);
    }

    img {
      width: 40px;
      height: 40px;
      z-index: 12;
      filter: brightness(0) invert(1);
    }
  }
}
